<single-spa-router>

  <nav>
    <application name="@acid/sspa-navbar"></application>
  </nav>
  <main>
    <route default>
      <application name="@acid/sspa-main"></application>
    </route>
    <route path="checkout">
      <application name="@acid/sspa-checkout"></application>
    </route>
  </main>
  
</single-spa-router>